/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 960px;
}

.header {
	padding-top: 20px;
}

.footer {
	text-align: center;
}

.nav {
	margin-top: 20px;
	
}

ul {
	list-style: none;
	margin-left: 0;
}

.accordion {
    padding: 9px 0;
    position: fixed;
    left: 60px;
    top: 100px;
    width: 220px;
}

.accordion-body ul {
	margin: 0 0 10px 20px;
	
}

li .accordion-heading .accordion-toggle {
	display: inline-block;
	padding: 0;
}

li .accordion-heading .accordion-toggle {
	float: right;
	opacity: 0.25;
}

li .accordion-heading .accordion-toggle:hover {
	opacity: 1;
}

.caption .btn {
	text-align: center;
}

.thumbnail .caption {
	text-align: center;
}

.thumbnails li {
	text-align: center;
	margin-bottom: 10px;
	margin-left: 10px;
}

.thumbnails li a {
	margin: 10px 0 0 0;
}